@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus,
input:focus,
textarea:focus,
button:focus { outline: none; }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
    color: #555;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #777777;
    line-height: 24px;
}
a:hover,
a:focus { text-decoration: none }
.section-padding{
  padding: 100px 0;
}
.padding-50{
  padding: 50px 0;
}
.pdt-50{
  padding-top: 50px;
}
.section-border span {
    background: #00a8e7 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    width: 80px;
}
.section-border .black-border {
  background: #000 none repeat scroll 0 0;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 20px;
}
.section-title h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.section-border {
  margin: 20px 0;
  position: relative;
}
.section-title p{
  margin-top: 30px;
}
.section-title {
    /* margin-bottom: 90px; */
}
/* =================================
            Site Preloder CSS
 ==================================*/
.site-preloder {
    background: #00a8e7 none repeat scroll 0 0;
    display: table;
    height: 100%;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 999;
}
.preloder-item {
    display: table-cell;
    vertical-align: middle;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  display: inline-block;
}
.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
/* =================================
            Header CSS
 ==================================*/
.header-absulate {
    left: 0;
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.35);
}
.mainmanu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.mainmanu ul li {
    display: inline-block;
}
.mainmanu ul lia {
    display: block;
}
.mainmanu ul li a {
    padding-left: 20px;
    text-transform: uppercase;
    transition: 0.4s;
}
.mainmanu ul li a:hover,
.mainmanu ul li.current a,
.responsive-menu .slicknav_nav li a:hover,
.responsive-menu .slicknav_nav li.current a{
    color: #00a8e7;
}
.header-area a {
    color: #fff;
}
.mainmanu {
    margin-top: 5px;
}
.logo h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 30px;
}
.header-area .header-fixed {
  position: fixed;
  background: rgba(0, 0, 0, 0.35);
}
/* =================================
           Responsive Menu
 ==================================*/
.responsive-menu {
    position: absolute;
    right: 1%;
    top: 16%;
    width: 200px;
    display: none;
}
.responsive-menu .slicknav_menu {
    background: transparent none repeat scroll 0 0;
}
.responsive-menu .slicknav_nav {
    background: #333 none repeat scroll 0 0;
    padding: 10px 0;
    text-transform: uppercase;
}
.responsive-menu .slicknav_nav li a{
  transition: 0.4s;
}
.responsive-menu .slicknav_nav li a:hover {
    background: transparent none repeat scroll 0 0;
}
/* =================================
            Slide CSS
 ==================================*/
.slide-bg-1{background-image: url(../img/slide/image.jpeg);}
.slide-bg-2{background-image: url(../img/slide/2.jpg);}
.slide-bg-3{background-image: url(../img/slide/3.jpg);}
.single-slide-bg {
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    background-color: #ddd;
}
.single-slide-bg::after {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.single-slider-item {
    display: table;
    height: 100%;
    width: 100%;
}
.single-slider-wrapper {
    display: table-cell;
    vertical-align: middle;
}
.single-slider-text {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
}
.single-slider-text h1 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.single-slider-text p{
  padding: 20px 0;
}
.cd-headline.clip .cd-words-wrapper::after{
  background: none;
}
.borderd-btn {
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-top: 40px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}
.borderd-btn:hover {
    background: rgb(0, 168, 231) none repeat scroll 0 0;
    border-color: rgb(0, 168, 231);
    color: rgb(255, 255, 255);
}
.homepage-slide .owl-nav div {
    background: #00a8e7 none repeat scroll 0 0;
    color: #fff;
    font-size: 25px;
    height: 40px;
    left: 1%;
    line-height: 40px;
    margin-top: -20px;
    position: absolute;
    text-align: center;
    top: 50%;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.homepage-slide .owl-nav div.owl-next {
    left: auto;
    right: 1%;
}
.homepage-slide .owl-nav div:hover {
    background: #000 none repeat scroll 0 0;
}
.testnonial-active .owl-dots div, .homepage-slide .owl-dots div {
    background: #000 none repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    margin: 5px;
    width: 10px;
}
.testnonial-active .owl-dots div.active,
.homepage-slide .owl-dots div.active {
    background: #00a8e7 none repeat scroll 0 0;
}
.testnonial-active .owl-dots,
.homepage-slide .owl-dots {
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
/* =================================
            About us CSS
 ==================================*/
.about-us {
    background-color: #f4f4f4;
}
.single-progressbar {
  position: relative;
  margin:0 0 26px;
}
.single-progressbar .skill-text {
  position: relative;
  z-index: 1;
  margin:0 0 5px;
}
.single-progressbar .skill-text span {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 400;
  color: #000000;
  line-height: 18px;
  font-size: 14px;
  text-transform: uppercase;
}
.single-progressbar .skill-text .skill-per {
  position: absolute;
  top: 0;
  left: inherit;
  right: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  line-height:18px;
}
.single-progressbar .progress {
  box-shadow: none;
  border-radius: 0px;
  height: 5px;
  position: relative;
  margin:0 0 15px;
  border:1px solid #00A8E7;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.single-progressbar .progress .progress-bar {
  background-color: #00A8E7;
  box-shadow: none;
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  -moz-transition:all 1.5s ease-in-out;
  transition:all 1.5s ease-in-out;
}
.skill_per {
    position: absolute;
    right: 0;
}
.skill_text {
    float: left;
    height: auto;
    margin: 0 0 10px;
    position: relative;
    width: 100%;
}
.skill_text span{
  text-transform:capitalize;
}
.skills_area {
    display: block;
    margin: 0 0 50px;
}
.text-block a + a{
  margin-left:10px;
}
.skill {
  padding: 0 5px;
}
.skill > h2 {
  padding-bottom: 15px;
}
.skill.upcase > h4 {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 2px;
}
.skill span {
  float: right;
}
.progress {
  background-color: #ddd;
  border-radius: 0;
  box-shadow: none;
  height: 4px;
}
/* =================================
        CAll to Action CSS
 ==================================*/
.cta-area {
    background: #00a8e7 none repeat scroll 0 0;
}
.cta-area .borderd-btn {
    margin-top: 0;
}
.cta-area h3 {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
.cta-area .borderd-btn:hover {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-color: rgb(255, 255, 255);
    color: rgb(0, 168, 231);
}

/* =================================
            Clients CSS
 ==================================*/

#clients .single-industry p, #clients .single-industry h3, #clients .single-industry a {
    visibility: hidden;
}

.ppl-bg {background-image: url(../img/clients/ppl.png); background-position: left center;}
.dvsa-bg {background-image: url(../img/clients/dvsa.png); background-position: left center;}
.dixons-bg {background-image: url(../img/clients/dixons.png); background-position: left center;}
.carphone-warehouse-bg {background-image: url(../img/clients/dixonscarphone.png); background-position: left center;}
.quidco-bg {background-image: url(../img/clients/quidco.png); background-position: left center;}
.barclays-bg {background-image: url(../img/clients/barclays.png); background-position: left center;}
.opg-bg {background-image: url(../img/clients/opg.png); background-position: left center;}
.moj-bg {background-image: url(../img/clients/moj.png); background-position: left center;}
.hmpo-bg {background-image: url(../img/clients/hmpo.png); background-position: left center;}
.defra-bg {background-image: url(../img/clients/defra.png); background-position: left center;}
.mod-bg {background-image: url(../img/clients/mod.png); background-position: left center;}
.lendable-bg {background-image: url(../img/clients/lendable.png); background-position: left center;}

/* =================================
            Industries CSS
 ==================================*/
.financial-industry-bg {background-image: url(../img/industries/financialservices.jpg);}
.automotive-industry-bg {background-image: url(../img/industries/automotive.jpg);}
.technology-industry-bg {background-image: url(../img/industries/technologyandmedia.jpg);}
.healthcare-industry-bg {background-image: url(../img/industries/healthcare.jpg);}
.retail-industry-bg {background-image: url(../img/industries/retail.jpg);}
.publicsector-industry-bg {background-image: url(../img/industries/publicsector.jpg);}
 .industry-area.section-padding {
  padding-bottom: 0;
}
.single-industry {
    border: 0;
    margin: 15px 0;
    padding: 30px;
    text-align: center;
    transition: all 0.4s ease 0s;
    background-repeat: no-repeat;
    background-size: contain;
}
.industry-icon {
    font-size: 40px;
    margin-bottom: 20px;
    transition: all 0.4s ease 0;
}
.single-industry h3 {
    font-size: 20px;
    font-weight: 300;
    transition: all 0.4s ease 0;
}
.single-industry p {
    color: white;
}
.inline-btn {
    display: inline-block;
    transition: all 0.4s ease 0s;
    color: #00a8e7;
    font-weight: 300;
    margin-top: 10px;
}
.single-industry:hover {
    box-shadow: 0 0 35px 0 #e9e9e9;
}
.single-industry:hover.single-industry h3,
.single-industry:hover .industry-icon,
.single-industry:hover.single-industry .inline-btn{
  color: #00a8e7;
}
.inline-btn:hover.inline-btn i.fa {
    padding-left: 4px;
}
/* =================================
            Poetfolio CSS
 ==================================*/
.our-expertise.section-padding {
  padding-bottom: 0;
}
.single-portfolio-bg-1{background-image: url(../img/portfolio/1.jpg);}
.single-portfolio-bg-2{background-image: url(../img/portfolio/2.jpg);}
.single-portfolio-bg-3{background-image: url(../img/portfolio/3.jpg);}
.single-portfolio-bg-4{background-image: url(../img/portfolio/4.jpg);}
.single-portfolio-bg-5{background-image: url(../img/portfolio/5.jpg);}
.single-portfolio-bg-6{background-image: url(../img/portfolio/6.jpg);}
.single-portfolio-bg-7{background-image: url(../img/portfolio/7.jpg);}
.single-portfolio-bg-8{background-image: url(../img/portfolio/8.jpg);}
.single-portfolio-bg-9{background-image: url(../img/portfolio/9.jpg);}
.single-portfolio {
    background-color: #ddd;
    background-position: center center;
    background-size: 100% 100%;
    display: table;
    height: 320px;
    position: relative;
    width: 100%;
    z-index: 1;
    overflow: hidden;
    margin: 15px 0;
    transition: 0.4s;
}
.single-portfolio:hover{
  background-size: 150% 150%;
}
.portfolio-hover {
    display: table-cell;
    text-align: center;
    transition: all 0.4s ease 0s;
    vertical-align: middle;
    transform: scale(0);
}
.single-portfolio:hover .portfolio-hover{
  transform: scale(1);
}
.single-portfolio::after {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: 0px;
  transition: all 0.4s ease 0s;
  visibility: hidden;
  width: 100%;
  z-index: -1;
  transform: scaleX(0);

}
.row.portfilo-list .single-portfolio {
  height: 380px;
}
.single-portfolio:hover.single-portfolio::after{
  opacity: 0.5;
  visibility: visible;
  transform: scaleX(1);
}
.portfolio-hover h4,
.portfolio-hover a {
    color: #fff;
}
.portfolio-hover h4 {
    margin-bottom: 10px;
}
.portfolio-hover a {
    font-size: 22px;
    transition: all 0.4s ease 0s;
}
.portfolio-hover a:hover {
  color: #00a8e7;
}
.expertise-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.expertise-menu ul li {
    border: 1px solid #00a8e7;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 5px;
    padding: 10px;
    text-transform: uppercase;
    transition: 0.4s;
}
.expertise-menu {
    margin-bottom: 20px;
}
.expertise-menu ul li.active,
.expertise-menu ul li:hover {
    background: #00a8e7 none repeat scroll 0 0;
    color: #fff;
}
/* =================================
            Team CSS
 ==================================*/
.team-image {
    position: relative;
    z-index: 1;
}
.team-hover {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    width: 100%;
}
.team-hover ul {
    list-style: outside none none;
    margin: 0 0 0 -120px;
    padding: 0;
    transition: all 0.4s ease 0s;
    opacity: 0;
    visibility: hidden;
}
.team-hover ul li a,
.social-media a {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin: 10px;
    text-align: center;
    width: 40px;
    transition: 0.4s;
}
.single-member:hover{
  border-color: #00A8E7;
}
.single-member h3 {
    display: block;
    font-size: 22px;
    font-weight: 300;
    margin-top: 18px;
    text-align: center;
}
.single-member span {
  display: block;
  font-size: 16px;
  margin: 12px;
}
.single-member {
    border: 1px solid #f5f5f5;
    overflow: hidden;
    margin: 15px 0;
    transition: 0.4s;
}
.single-member:hover .team-hover ul {
    margin: 0;
    opacity: 1;
    visibility: visible;
}
.single-member:hover .team-hover {
    left: 0;
    top: 0;
    visibility: visible;
    background: rgba(0,0,0,0.5);
}
.team-hover li a:hover,
.social-media a:hover{
  background: #fff;
  color: #00A8E7;
}
/* =================================
            Testmonial CSS
 ==================================*/
.testmonial-area{background: #F4F4F4}
.single-testmonial img .owl-carousel .owl-item img {
    width: 200px;
}
.owl-carousel .owl-item .single-testmonial img {
    border-radius: 50%;
    display: inline;
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
}
.single-testmonial h3 {
  display: block;
  font-weight: 300;
  margin: 25px 0;
  font-size: 20px;
}
.single-testmonial h3 span {
  display: block;
  font-size: 13px;
  margin-top: 10px;
}
.single-testmonial p{
  margin-bottom: 20px;
}
.testnonial-active .owl-dots {
    bottom: -14%;
}
/* =================================
            Blog CSS
 ==================================*/
.blog-bg-1{background-image: url(../img/blog/1.jpg);}
.blog-bg-2{background-image: url(../img/blog/2.jpg);}
.blog-bg-3{background-image: url(../img/blog/3.jpg);}
.single-blog-bg {
    background-position: center center;
    background-size: 100% 100%;
    height: 250px;
    margin-bottom: 20px;
    transition: 0.4s;
}
.single-blog {
    border: 1px solid #f5f5f5;
    transition: 0.4s;
}
.single-blog:hover{
  box-shadow: 0 0 35px #e9e9e9;
}
.single-blog:hover .single-blog-bg{
  background-size: 150% 150%;
}
.single-blog:hover .single-blog-text .inline-btn{
  color: #00A8E7;
}
.single-blog-text {
    padding: 20px;
}
.single-blog-text h3{
  font-weight: 400;
}
/* =================================
            Contact CSS
 ==================================*/
.contact-us-area {
  padding: 50px 0;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="phone"],
input[type="submit"],
button[type="submit"],
textarea {
    border: 1px solid #f5f5f5;
    margin-bottom: 30px;
    padding: 10px;
    width: 100%;
}
textarea {
    height: 200px;
}
input[type="submit"],
button[type="submit"] {
    background-color: #00a8e7;
    color: #fff;
    padding: 10px 60px;
    transition: all 0.4s ease 0s;
    width: auto;
}
input[type="submit"]:hover,
button[type="submit"]:hover {
    background: #000 none repeat scroll 0 0;
}
.google-map {
  height: 325px;
}
/* =================================
            Footer CSS
 ==================================*/
.footer-area .logo a {
  color: #fff;
}
.footer-area {
    background: #00a8e7 none repeat scroll 0 0;
    padding: 20px 0;
}
.social-media {
    margin: 22px 0;
}
.copy-write p {
    color: #fff;
    margin: 0;
}
.social-media a {
  display: inline-block;
  margin: 5px;
}
/* =================================
      Scroll to Top CSS
 ==================================*/
.scroll-up-btn {
    background: #000;
    bottom: 1%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: 1%;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 40px;
    z-index: 9;
}
.scroll-up-btn:hover {
    opacity: 0.7;
    color: #fff;
}
