<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Team Neev // Software Consultancy, Training, Bespoke Projects.</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="site-preloder">
            <div class="preloder-item">
                <div class="sk-cube-grid">
                  <div class="sk-cube sk-cube1"></div>
                  <div class="sk-cube sk-cube2"></div>
                  <div class="sk-cube sk-cube3"></div>
                  <div class="sk-cube sk-cube4"></div>
                  <div class="sk-cube sk-cube5"></div>
                  <div class="sk-cube sk-cube6"></div>
                  <div class="sk-cube sk-cube7"></div>
                  <div class="sk-cube sk-cube8"></div>
                  <div class="sk-cube sk-cube9"></div>
              </div>
            </div>
        </div>

        <div class="header-area" id="home">
            <div class="header-absulate">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="logo">
                                <h1><a href="#"><img src="img/logo/neev_white_wordmark.png"></a></h1>
                            </div>
                        </div>
                        <div class="responsive-menu"></div>
                        <div class="col-sm-9">
                            <div class="mainmanu text-right">
                                <ul id="navigation">
                                    <li><a href="#home">home</a></li>
                                    <li><a href="#clients">clients</a></li>
                                    <li><a href="#expertise">expertise</a></li>
                                    <li><a href="#team">team</a></li>
                                    <li><a href="#contact">contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="homepage-slide">
            <div class="single-slide-bg slide-bg-1">
                <div class="single-slider-item">
                    <div class="single-slider-wrapper">
                        <div class="single-slider-text text-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <h1 class="cd-headline clip is-full-width">
                                            <span class="cd-words-wrapper">
                                                <b class="is-visible">We Are Team Neev</b>
                                                <b>like-minded IT professionals</b>
                                                <b>high-quality and agility</b>
                                            </span>
                                        </h1>
                                        <p>Software Consultancy. Training. Bespoke projects.</p>
                                        <a href="#contact" class="borderd-btn">Contact us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="cta-area padding-50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <h3>We're ready for your projects. Hire us today.</h3>
                    </div>
                    <div class="col-sm-3 text-right">
                        <a href="#contact" class="borderd-btn">Contact us</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="our-expertise section-padding" id="expertise">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="section-title">
                            <h2>Expertise</h2>
                            <div class="section-border">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row portfilo-list">

                    <div class="col-sm-6 col-xs-12 languages">
                        <div class="single-member">
                            <h3>Solutions architecture</h3>
                            <span>Build your products for effortless scale, minimal maintenance and low-cost extensibility as they mature.</span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 languages">
                        <div class="single-member">
                            <h3>Software engineering</h3>
                            <span>High-speed, high-quality delivery of component-based software application builds, rebuilds, and refactoring.</span>
                        </div>
                    </div>

                </div>
                <div class="row portfilo-list">
                    <div class="col-sm-6 col-xs-12 languages">
                      <div class="single-member">
                          <h3>Testing Automation</h3>
                          <span>Ship bug-free solutions that imbue customer confidence in a competitive market.</span>
                      </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 languages">
                        <div class="single-member">
                            <h3>Continuous integration/delivery</h3>
                            <span>Build, test and ship your code effortlessly with high confidence, low cost and with instantaneous feedback for quick issue resolution.</span>
                        </div>
                    </div>

                </div>
                <div class="row portfilo-list">
                    <div class="col-sm-6 col-xs-12 languages">
                        <div class="single-member">
                            <h3>DevOps Automation</h3>
                            <span>Leveraging IaC and IaaS solutions to quickly define and deploy infrastructure to support business-critical applications.</span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12 languages">
                        <div class="single-member">
                            <h3>Training</h3>
                            <span>As experienced practitioners, we can offer premade and bespoke training courses from the basics through to advanced workshops on: PHP, Docker, CI/CD, Kubernetes, DDD, TDD, Test Automation, Agile Practices</span>
                        </div>
                    </div>
                </div>
            </div>

        <div class="industry-area section-padding" id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="section-title">
                            <h2>Our Clients</h2>
                            <div class="section-border">
                                <span></span>
                            </div>
                            <p>Our skilled team of consultants have worked with the following clients:</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-industry hmpo-bg">
                            <h3>DVSA</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-industry moj-bg">
                            <h3>OPG</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-industry defra-bg">
                            <h3>Barclays</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-industry dvsa-bg">
                            <h3>DVSA</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-industry opg-bg">
                            <h3>OPG</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-industry mod-bg">
                            <h3>MOD</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="single-industry barclays-bg">
                            <h3>Barclays</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-industry quidco-bg">
                            <h3>Quidco</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="single-industry ppl-bg">
                            <h3>People's Postcode Lottery</h3>
                            <p>&nbsp;</p>
                            <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                      <div class="single-industry dixons-bg">
                          <h3>Dixons Carphone</h3>
                          <p>&nbsp;</p>
                          <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                      </div>
                  </div>
                  <!-- <div class="col-sm-4">
                      <div class="single-industry lendable-bg">
                          <h3>Lendable</h3>
                          <p>&nbsp;</p>
                          <a href="" class="inline-btn">Read more <i class="fa fa-arrow-right"></i></a>
                      </div>
                  </div> -->
                </div>
            </div>
        </div>

        <div class="our-team-area section-padding" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="section-title">
                            <h2>Meet Our Team</h2>
                            <div class="section-border">
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-md-offset-3">
                        <div class="single-member">
                            <div class="team-image">
                                <img src="img/team/Jakub-Zalas.jpg" alt="Jakub Zalas">
                                <div class="team-hover">
                                    <ul>
                                        <li><a href="https://www.linkedin.com/in/jakubzalas/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3>Jakub Zalas</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="single-member">
                            <div class="team-image">
                               <img src="img/team/paul.jpg" alt="">
                               <div class="team-hover">
                                   <ul>
                                       <li><a href="https://www.linkedin.com/in/pauldragoonis/"><i class="fa fa-linkedin"></i></a></li>
                                   </ul>
                               </div>
                            </div>
                            <h3>Paul Dragoonis</h3>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4">
                        <div class="single-member">
                            <div class="team-image">
                                <img src="img/team/ben-1.jpg" alt="">
                                <div class="team-hover">
                                    <ul>
                                        <li><a href="https://www.linkedin.com/in/bentadiar/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3>Ben Tadiar</h3>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-2 col-sm-4 col-md-offset-3">
                        <div class="single-member">
                            <div class="team-image">
                                <img src="img/team/vitor-2.jpg" alt="">
                                <div class="team-hover">
                                    <ul>
                                        <li><a href="https://www.linkedin.com/in/vitorbrandao/"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <h3>Vítor Brandão</h3>
                        </div>
                    </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="single-member">
                                    <div class="team-image">
                                        <img src="img/team/dan.jpg" alt="">
                                        <div class="team-hover">
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/dannym87/"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h3>Daniel Messenger</h3>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4">
                                <div class="single-member">
                                    <div class="team-image">
                                        <img src="img/team/gaurav-1.jpg" alt="">
                                        <div class="team-hover">
                                            <ul>
                                                <li><a href="https://www.linkedin.com/in/gaurav-malhotra-7855111b/"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <h3>Gaurav Malhotra</h3>
                                </div>
                            </div>
                </div>
            </div>
        </div>

        <div class="contact-us-area" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="section-title">
                            <h2>Contact us</h2>
                            <div class="section-border">
                                <span></span>
                            </div>
                            <p><a href="mailto:team@team-neev.com"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;team@team-neev.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="logo">
                            <h1><a href="#">Team Neev</a></h1>
                        </div>
                        <div class="social-media">
                            <a href="https://twitter.com/team_neev" target="_blank"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/team-neev/"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="copy-write">
                            <p>&copy; 2017 Team Neev</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a href="#" class="scroll-up-btn"><i class="fa fa-angle-double-up"></i></a>
    </body>
</html>
